.actions{
    padding: 10px 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.h3{
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.img{
    cursor: pointer;
    height:15px;
    margin-right:5px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 0.8rem; */
}
.element-container{
    display: flex;
    align-content: center;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.element-container-title{
    margin-left: 5px;
}
.data-element{
    margin: 5px 0;
    width:45%;
}
@media(max-width:950px){
    .data-element{
    width:35rem;
    max-width:95%
    }
}
.data-element-small{
    margin: 5px 0;
    width:22.5%;
}
@media(max-width:950px){
    .data-element-small{
    width:17.5rem;
    max-width:95%
    }
}
.final{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding:20px 20px;
}
.more-buttons{
    justify-content:space-between;
}
.button{
border: 1px solid var(--dark-yellow);
border-radius: 999px;
color: var(--dark-red);
padding: 15px;
font-size: large;
font-weight: 700;
}
.button:hover{
    background-color: #ddd;
}
.button:disabled{
    opacity: 0.4;
    cursor: not-allowed;
}
.error{
color: red;
margin: 20px;
}
.area-button{
    background-color: transparent;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 999px;
    cursor: pointer;
    font-size: large;
    color: var(--dark-red);
    font-weight: 800;
    
    background-color: var(--light-yellow);
    opacity: 0.8;
}
.area-button:hover{
    opacity: 1;
}
.auto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.print-button{
    padding: 10px;
    border:1px solid #ccc ;
    color: beige;
    background-color: var(--dark-red);
    border-radius: 9999px;
    opacity: 0.8;
    margin-bottom: 15px;
}
.print-button:hover{
    opacity: 1;
}