.form-g{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
.label{
    margin-left: 5px;
    margin-bottom: 0;
}
.input{
    display: inline-block; 
    flex-grow: 1;
    width: 0;
}
.red{border-color: red;}