.options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.area{
    height:30vh;
    width: 33%;
    display :flex;
    justify-content: center;
    align-items: center;
}